html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    /*visibility: hidden;*/
}
.modal{
    position: absolute;
    background: white;
    border: 2px solid red;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}
.modal-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000099;
    left: 0;
    top: 0;
}
.save-button{
    margin-top: 10px;
    cursor: pointer;
}
.fight-field{
    display: flex;
    align-items: center;
}
.fight-field .fighter:nth-of-type(2) img{
    transform: rotateY(180deg);
}
.health{
    color: green;
    text-align: center;
}
.fight-button{
    background: green;
    width: 300px;
    text-transform: uppercase;
    height: 40px;
    order: 1;
    border: 0;
    border-radius: 5px;
    color: #fff;
    max-width: 300px;
    font-size: 22px;
}
.fight-field .fighter{
    order: 2;
}
.start-button{
    background: green;
    max-width: 300px;
    width: 300px;
    text-transform: uppercase;
    height: 40px;
    order: 1;
    border: 0;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 30px;
    font-size: 22px;
}
.fight-text{
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-out;
}
.wrapper-fight-text{
    max-height: 400px;
    width: 300px;
    order: 3;
    position: relative;
    overflow: hidden;
    height: 396px;
}